@media screen and (min-width: 767px) and (max-width: 992px) {
    /***** Compromisos responsive ******/
    // general css
    .header-container {
        width: 100%;
    }
    // header css
    .compromisis-header {
        .row {
            height: 68px;
            width: 100%;
            .logo-title {
                padding-left: 35px;
                padding-right: 0;
                .tital-heading {
                    font-size: 20px;
                }
                .tital-subheading {
                    font-size: 12px;
                    padding-left: 8px;
                }
            }
            .logo-content {
                .nav-links {
                    height: 100%;
                    margin: 0 10px;
                    a {
                        font-size: 14px;
                    }
                }
                .my-report-btn {
                    width: 125px;
                    height: 42px;
                    font-size: 12px;
                }
                .my-session-btn {
                    width: 125px;
                    height: 42px;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
        }
    }
    // compromisos section css
    .compromisos-section {
        .compromisos-container {
            .header-text {
                .filtering {
                    .heading {
                        font-size: 14px;
                    }
                }
            }
            .compromisos-records {
                padding: 0;
                h6 {
                    margin-bottom: 17px;
                }
            }
            .profile-container {
                .description {
                    width: 82%;
                    .heading {
                        font-size: 18px;
                        span {
                            font-size: 15px;
                            line-height: 16px;
                        }
                    }
                    .sub-heading {
                        font-size: 13px;
                        .line {
                            font-size: 12px;
                        }
                        .meses-text {
                            font-size: 13px;
                        }
                    }
                    .para {
                        font-size: 16px;
                    }
                    .details-btn {
                        width: 148px;
                        height: 44px;
                        font-size: 16px;
                    }
                }
                .progreso-content {
                    width: 18%;
                    border-radius: 5px;
                    .heading {
                        font-size: 14px;
                    }
                    #indicatorContainer {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-2 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-3 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-4 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    h6 {
                        font-size: 14px;
                    }
                }
            }
            .pagination {
                .page-link {
                    width: 45px;
                    height: 45px;
                }
                .next-btn {
                    width: 110px;
                }
            }
        }
    }
    /*****  Report Section *****/
    .header_background {
        nav {
            ul {
                li {
                    line-height: unset;
                }
            }
        }
    }
    .report_section {
        .report_titel {
            h4 {
                font-size: 18px;
                font-weight: 600;
            }
        }
        .report_btn {
            padding: 0 0 22px 0;
            .btn {
                width: 120px;
                padding: 0 5px;
                height: 40px;
                font-size: 12px;
                box-shadow: none;
                outline: 0;
                padding: 0;
                font-weight: 600;
            }
            .btn1 {
                width: 120px;
                padding: 0 5px;
                height: 40px;
                font-size: 12px;
                box-shadow: none;
                outline: 0;
                padding: 0;
                font-weight: 600;
            }
        }
        .report_table {
            .total_rpt_time_dat_pick {
                width: 100%;
                .total-report {
                    display: flex;
                    justify-content: center;
                }
                .td_pick {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .pagination {
            .page-link {
                width: 45px;
                height: 45px;
            }
            .next-btn {
                width: 110px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    // general css
    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    // header css
    .compromisis-header {
        display: flex;
        justify-content: center;
        .row {
            height: 75px;
            width: 100%;
            .logo-title {
                justify-content: center;
                padding: 0;
                .tital-heading {
                    font-size: 20px;
                }
                .tital-subheading {
                    font-size: 12px;
                    padding-left: 8px;
                }
            }
            .logo-content {
                padding-bottom: 10px;
                justify-content: center;
                .nav-links {
                    height: 100%;
                    margin: 0 10px;
                    a {
                        font-size: 14px;
                    }
                }
                .my-report-btn {
                    width: 100px;
                    height: 36px;
                    font-size: 12px;
                }
                .my-session-btn {
                    width: 100px;
                    height: 36px;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
        }
    }
    // compormisos section css
    .compromisos-section {
        .compromisos-container {
            .row {
                padding: 0 15px;
            }
            .header-text {
                h5 {
                    font-size: 16px;
                }
                h4 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .filtering {
                    .heading {
                        font-size: 13px;
                    }
                    .styled-select,
                    .styled-select select {
                        width: 260px;
                    }
                    .styled-select select {
                        height: 38px;
                        font-size: 14px;
                        padding: 0 0 0 12px;
                    }
                    .dropdown-icon {
                        font-size: 20px;
                    }
                }
            }
            .compromisos-records {
                h6 {
                    font-size: 14px;
                }
            }
            .profile-container {
                .description {
                    width: 80%;
                    .heading {
                        font-size: 15px;
                        span {
                            font-size: 11px;
                            line-height: 17px;
                        }
                    }
                    .sub-heading {
                        font-size: 12px;
                        .line {
                            font-size: 11px;
                        }
                        .meses-text {
                            font-size: 12px;
                        }
                    }
                    .para {
                        font-size: 14px;
                    }
                    .details-btn {
                        width: 120px;
                        height: 36px;
                        font-size: 12px;
                    }
                }
                .progreso-content {
                    width: 20%;
                    border-radius: 5px;
                    #indicatorContainer {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-2 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-3 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                    #indicatorContainer-4 {
                        canvas {
                            width: 80px !important;
                            height: 80px !important;
                        }
                    }
                }
            }
            .pagination {
                .page-link {
                    width: 40px;
                    height: 40px;
                    font-size: 14px;
                }
                .next-btn {
                    width: 100px;
                }
            }
        }
    }
    .footer-container {
        .section {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
    /*****  Report Section *****/
    .header_background {
        nav {
            ul {
                li {
                    line-height: unset;
                }
            }
        }
    }
    .report_section {
        .report_titel {
            display: flex;
            justify-content: center;
        }
        .report_btn {
            display: flex;
            justify-content: center;
        }
        .report_table {
            .total_rpt_time_dat_pick {
                width: 100%;
                .total-report {
                    display: flex;
                    justify-content: center;
                }
                .td_pick {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .notification {
            .row {
                .notification_titel {
                    padding: 20px 15px 10px 15px;
                    h4 {
                        font-size: 20px;
                        font-weight: 550;
                    }
                }
            }
            .recently_notification {
                padding: 15px 15px 5px 15px;
            }
        }
    }
    .pagination {
        .page-link {
            width: 40px;
            height: 40px;
            font-size: 14px;
        }
        .next-btn {
            width: 100px;
        }
    }
}

@media screen and (max-width: 547px) {
    // general css
    // header css
    .compromisis-header {
        .row {
            .logo-title {
                padding: 0 0 10px 20px;
                .tital-subheading {
                    font-size: 9px;
                }
            }
            .logo-content {
                .nav-links {
                    a {
                        font-size: 12px;
                    }
                }
                .my-report-btn {
                    font-size: 8px;
                    width: 200px;
                    height: 30px;
                }
                .my-session-btn {
                    font-size: 8px;
                    width: 200px;
                    height: 30px;
                }
            }
        }
    }
    // compormisos section css
    .compromisos-section {
        .compromisos-container {
            .header-text {
                h5 {
                    font-size: 14px;
                }
                h4 {
                    font-size: 16px;
                }
                p {
                    font-size: 10px;
                }
                .filtering {
                    display: block;
                    .heading {
                        font-size: 12px;
                    }
                    .styled-select,
                    .styled-select select {
                        margin: 0;
                        width: 200px;
                    }
                    .styled-select select {
                        height: 38px;
                        font-size: 11px;
                        padding: 0 0 0 10px;
                    }
                    .dropdown-icon {
                        font-size: 16px;
                        top: 10px;
                        right: 12px;
                    }
                }
            }
            .profile-container {
                display: block;
                .description {
                    width: 100%;
                    .heading {
                        font-size: 13px;
                        span {
                            font-size: 11px;
                            line-height: 17px;
                        }
                    }
                    .sub-heading {
                        font-size: 10px;
                        .line {
                            font-size: 10px;
                        }
                        .meses-text {
                            font-size: 10px;
                        }
                    }
                    .para {
                        font-size: 11px;
                    }
                    .details-btn {
                        width: 120px;
                        height: 36px;
                        font-size: 12px;
                    }
                }
                .progreso-content {
                    width: 100%;
                    margin-top: 20px;
                    padding: 10px 0;
                    border-radius: 5px;
                    .heading {
                        font-size: 14px;
                    }
                    h6 {
                        font-size: 14px;
                    }
                }
            }
            .pagination {
                .page-link {
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                }
                .next-btn {
                    width: 80px;
                }
            }
        }
    }
    // Footer css
    .footer-container {
        .section {
            display: block;
            padding: 0;
            h6 {
                margin-bottom: 3px;
                font-size: 12px;
            }
            a {
                margin-bottom: 3px;
                font-size: 12px;
            }
        }
    }
    /***** Report responsive ******/
    .user_heder {
        .row {
            .logo_title {
                justify-content: center;
                h4 {
                    font-size: 24px;
                }
                .title_formate {
                    font-size: 20px;
                }
                .breadcum_formate {
                    font-size: 9px;
                }
            }
            .user_details {
                justify-content: center;
                .user_image {
                    .user {
                        padding: 7px;
                        font-size: 12px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .report_section {
        .report_titel {
            h4 {
                font-size: 14px;
            }
        }
        .report_btn {
            .btn {
                width: 100px;
                height: 36px;
                font-size: 12px;
            }
            .btn1 {
                width: 100px;
                height: 36px;
                font-size: 12px;
            }
        }
        .report_table {
            .total_rpt_time_dat_pick {
                .total-report {
                    h4 {
                        font-size: 12px;
                    }
                }
                .td_pick {
                    .styled-select,
                    .styled-select select {
                        width: 137px;
                        // margin-left: 5px;
                    }
                    .styled-select select {
                        height: 40px;
                        font-size: 12px;
                        padding-left: 5px;
                        background: rgba(255, 255, 255, 0.7);
                        border: none;
                        -webkit-appearance: none;
                        font-weight: 500;
                        color: #31333B;
                    }
                    .dropdown-icon {
                        position: absolute;
                        top: 11px;
                        right: 5px;
                        font-size: 18px;
                    }
                }
            }
        }
        .pagination {
            .page-link {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }
            .next-btn {
                width: 80px;
            }
        }
    }
}