@media screen and (min-width: 767px) and (max-width: 992px) {
  /***** Compromisos responsive ******/
  .header-container {
    width: 100%; }

  .compromisis-header .row {
    height: 68px;
    width: 100%; }
    .compromisis-header .row .logo-title {
      padding-left: 35px;
      padding-right: 0; }
      .compromisis-header .row .logo-title .tital-heading {
        font-size: 20px; }
      .compromisis-header .row .logo-title .tital-subheading {
        font-size: 12px;
        padding-left: 8px; }
    .compromisis-header .row .logo-content .nav-links {
      height: 100%;
      margin: 0 10px; }
      .compromisis-header .row .logo-content .nav-links a {
        font-size: 14px; }
    .compromisis-header .row .logo-content .my-report-btn {
      width: 125px;
      height: 42px;
      font-size: 12px; }
    .compromisis-header .row .logo-content .my-session-btn {
      width: 125px;
      height: 42px;
      font-size: 12px;
      margin-left: 10px; }

  .compromisos-section .compromisos-container .header-text .filtering .heading {
    font-size: 14px; }
  .compromisos-section .compromisos-container .compromisos-records {
    padding: 0; }
    .compromisos-section .compromisos-container .compromisos-records h6 {
      margin-bottom: 17px; }
  .compromisos-section .compromisos-container .profile-container .description {
    width: 82%; }
    .compromisos-section .compromisos-container .profile-container .description .heading {
      font-size: 18px; }
      .compromisos-section .compromisos-container .profile-container .description .heading span {
        font-size: 15px;
        line-height: 16px; }
    .compromisos-section .compromisos-container .profile-container .description .sub-heading {
      font-size: 13px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading .line {
        font-size: 12px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading .meses-text {
        font-size: 13px; }
    .compromisos-section .compromisos-container .profile-container .description .para {
      font-size: 16px; }
    .compromisos-section .compromisos-container .profile-container .description .details-btn {
      width: 148px;
      height: 44px;
      font-size: 16px; }
  .compromisos-section .compromisos-container .profile-container .progreso-content {
    width: 18%;
    border-radius: 5px; }
    .compromisos-section .compromisos-container .profile-container .progreso-content .heading {
      font-size: 14px; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-2 canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-3 canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-4 canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content h6 {
      font-size: 14px; }
  .compromisos-section .compromisos-container .pagination .page-link {
    width: 45px;
    height: 45px; }
  .compromisos-section .compromisos-container .pagination .next-btn {
    width: 110px; }

  /*****  Report Section *****/
  .header_background nav ul li {
    line-height: unset; }

  .report_section .report_titel h4 {
    font-size: 18px;
    font-weight: 600; }
  .report_section .report_btn {
    padding: 0 0 22px 0; }
    .report_section .report_btn .btn {
      width: 120px;
      padding: 0 5px;
      height: 40px;
      font-size: 12px;
      box-shadow: none;
      outline: 0;
      padding: 0;
      font-weight: 600; }
    .report_section .report_btn .btn1 {
      width: 120px;
      padding: 0 5px;
      height: 40px;
      font-size: 12px;
      box-shadow: none;
      outline: 0;
      padding: 0;
      font-weight: 600; }
  .report_section .report_table .total_rpt_time_dat_pick {
    width: 100%; }
    .report_section .report_table .total_rpt_time_dat_pick .total-report {
      display: flex;
      justify-content: center; }
    .report_section .report_table .total_rpt_time_dat_pick .td_pick {
      display: flex;
      justify-content: center; }
  .report_section .pagination .page-link {
    width: 45px;
    height: 45px; }
  .report_section .pagination .next-btn {
    width: 110px; } }
@media screen and (max-width: 767px) {
  .header-container {
    width: 100%;
    display: flex;
    justify-content: center; }

  .compromisis-header {
    display: flex;
    justify-content: center; }
    .compromisis-header .row {
      height: 75px;
      width: 100%; }
      .compromisis-header .row .logo-title {
        justify-content: center;
        padding: 0; }
        .compromisis-header .row .logo-title .tital-heading {
          font-size: 20px; }
        .compromisis-header .row .logo-title .tital-subheading {
          font-size: 12px;
          padding-left: 8px; }
      .compromisis-header .row .logo-content {
        padding-bottom: 10px;
        justify-content: center; }
        .compromisis-header .row .logo-content .nav-links {
          height: 100%;
          margin: 0 10px; }
          .compromisis-header .row .logo-content .nav-links a {
            font-size: 14px; }
        .compromisis-header .row .logo-content .my-report-btn {
          width: 100px;
          height: 36px;
          font-size: 12px; }
        .compromisis-header .row .logo-content .my-session-btn {
          width: 100px;
          height: 36px;
          font-size: 12px;
          margin-left: 10px; }

  .compromisos-section .compromisos-container .row {
    padding: 0 15px; }
  .compromisos-section .compromisos-container .header-text h5 {
    font-size: 16px; }
  .compromisos-section .compromisos-container .header-text h4 {
    font-size: 18px; }
  .compromisos-section .compromisos-container .header-text p {
    font-size: 12px; }
  .compromisos-section .compromisos-container .header-text .filtering .heading {
    font-size: 13px; }
  .compromisos-section .compromisos-container .header-text .filtering .styled-select,
  .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
    width: 260px; }
  .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
    height: 38px;
    font-size: 14px;
    padding: 0 0 0 12px; }
  .compromisos-section .compromisos-container .header-text .filtering .dropdown-icon {
    font-size: 20px; }
  .compromisos-section .compromisos-container .compromisos-records h6 {
    font-size: 14px; }
  .compromisos-section .compromisos-container .profile-container .description {
    width: 80%; }
    .compromisos-section .compromisos-container .profile-container .description .heading {
      font-size: 15px; }
      .compromisos-section .compromisos-container .profile-container .description .heading span {
        font-size: 11px;
        line-height: 17px; }
    .compromisos-section .compromisos-container .profile-container .description .sub-heading {
      font-size: 12px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading .line {
        font-size: 11px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading .meses-text {
        font-size: 12px; }
    .compromisos-section .compromisos-container .profile-container .description .para {
      font-size: 14px; }
    .compromisos-section .compromisos-container .profile-container .description .details-btn {
      width: 120px;
      height: 36px;
      font-size: 12px; }
  .compromisos-section .compromisos-container .profile-container .progreso-content {
    width: 20%;
    border-radius: 5px; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-2 canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-3 canvas {
      width: 80px !important;
      height: 80px !important; }
    .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-4 canvas {
      width: 80px !important;
      height: 80px !important; }
  .compromisos-section .compromisos-container .pagination .page-link {
    width: 40px;
    height: 40px;
    font-size: 14px; }
  .compromisos-section .compromisos-container .pagination .next-btn {
    width: 100px; }

  .footer-container .section {
    display: flex;
    flex-direction: column;
    padding: 0; }

  /*****  Report Section *****/
  .header_background nav ul li {
    line-height: unset; }

  .report_section .report_titel {
    display: flex;
    justify-content: center; }
  .report_section .report_btn {
    display: flex;
    justify-content: center; }
  .report_section .report_table .total_rpt_time_dat_pick {
    width: 100%; }
    .report_section .report_table .total_rpt_time_dat_pick .total-report {
      display: flex;
      justify-content: center; }
    .report_section .report_table .total_rpt_time_dat_pick .td_pick {
      display: flex;
      justify-content: center; }
  .report_section .notification .row .notification_titel {
    padding: 20px 15px 10px 15px; }
    .report_section .notification .row .notification_titel h4 {
      font-size: 20px;
      font-weight: 550; }
  .report_section .notification .recently_notification {
    padding: 15px 15px 5px 15px; }

  .pagination .page-link {
    width: 40px;
    height: 40px;
    font-size: 14px; }
  .pagination .next-btn {
    width: 100px; } }
@media screen and (max-width: 547px) {
  .compromisis-header .row .logo-title {
    padding: 0 0 10px 20px; }
    .compromisis-header .row .logo-title .tital-subheading {
      font-size: 9px; }
  .compromisis-header .row .logo-content .nav-links a {
    font-size: 12px; }
  .compromisis-header .row .logo-content .my-report-btn {
    font-size: 8px;
    width: 200px;
    height: 30px; }
  .compromisis-header .row .logo-content .my-session-btn {
    font-size: 8px;
    width: 200px;
    height: 30px; }

  .compromisos-section .compromisos-container .header-text h5 {
    font-size: 14px; }
  .compromisos-section .compromisos-container .header-text h4 {
    font-size: 16px; }
  .compromisos-section .compromisos-container .header-text p {
    font-size: 10px; }
  .compromisos-section .compromisos-container .header-text .filtering {
    display: block; }
    .compromisos-section .compromisos-container .header-text .filtering .heading {
      font-size: 12px; }
    .compromisos-section .compromisos-container .header-text .filtering .styled-select,
    .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
      margin: 0;
      width: 200px; }
    .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
      height: 38px;
      font-size: 11px;
      padding: 0 0 0 10px; }
    .compromisos-section .compromisos-container .header-text .filtering .dropdown-icon {
      font-size: 16px;
      top: 10px;
      right: 12px; }
  .compromisos-section .compromisos-container .profile-container {
    display: block; }
    .compromisos-section .compromisos-container .profile-container .description {
      width: 100%; }
      .compromisos-section .compromisos-container .profile-container .description .heading {
        font-size: 13px; }
        .compromisos-section .compromisos-container .profile-container .description .heading span {
          font-size: 11px;
          line-height: 17px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading {
        font-size: 10px; }
        .compromisos-section .compromisos-container .profile-container .description .sub-heading .line {
          font-size: 10px; }
        .compromisos-section .compromisos-container .profile-container .description .sub-heading .meses-text {
          font-size: 10px; }
      .compromisos-section .compromisos-container .profile-container .description .para {
        font-size: 11px; }
      .compromisos-section .compromisos-container .profile-container .description .details-btn {
        width: 120px;
        height: 36px;
        font-size: 12px; }
    .compromisos-section .compromisos-container .profile-container .progreso-content {
      width: 100%;
      margin-top: 20px;
      padding: 10px 0;
      border-radius: 5px; }
      .compromisos-section .compromisos-container .profile-container .progreso-content .heading {
        font-size: 14px; }
      .compromisos-section .compromisos-container .profile-container .progreso-content h6 {
        font-size: 14px; }
  .compromisos-section .compromisos-container .pagination .page-link {
    width: 30px;
    height: 30px;
    font-size: 12px; }
  .compromisos-section .compromisos-container .pagination .next-btn {
    width: 80px; }

  .footer-container .section {
    display: block;
    padding: 0; }
    .footer-container .section h6 {
      margin-bottom: 3px;
      font-size: 12px; }
    .footer-container .section a {
      margin-bottom: 3px;
      font-size: 12px; }

  /***** Report responsive ******/
  .user_heder .row .logo_title {
    justify-content: center; }
    .user_heder .row .logo_title h4 {
      font-size: 24px; }
    .user_heder .row .logo_title .title_formate {
      font-size: 20px; }
    .user_heder .row .logo_title .breadcum_formate {
      font-size: 9px; }
  .user_heder .row .user_details {
    justify-content: center; }
    .user_heder .row .user_details .user_image .user {
      padding: 7px;
      font-size: 12px; }
    .user_heder .row .user_details .user_image a {
      font-size: 12px; }

  .report_section .report_titel h4 {
    font-size: 14px; }
  .report_section .report_btn .btn {
    width: 100px;
    height: 36px;
    font-size: 12px; }
  .report_section .report_btn .btn1 {
    width: 100px;
    height: 36px;
    font-size: 12px; }
  .report_section .report_table .total_rpt_time_dat_pick .total-report h4 {
    font-size: 12px; }
  .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select,
  .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select select {
    width: 137px; }
  .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select select {
    height: 40px;
    font-size: 12px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    -webkit-appearance: none;
    font-weight: 500;
    color: #31333B; }
  .report_section .report_table .total_rpt_time_dat_pick .td_pick .dropdown-icon {
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 18px; }
  .report_section .pagination .page-link {
    width: 30px;
    height: 30px;
    font-size: 12px; }
  .report_section .pagination .next-btn {
    width: 80px; } }

/*# sourceMappingURL=responsive.css.map */
