/* ---------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------- */
/* INDEX
----------------------------------------------------------------------------------------
01. General css
02. Header css
03. Banner Topo css
-------------------------------------------------------------------------------------- */
/***** 	   01. General css		 ****/
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Helvetica;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: normal; }

.header-container {
  width: 1280px;
  margin: 0 auto; }

@font-face {
  font-family: DINROUNDPRO;
  src: url("../fonts/D-DINExp-Bold.otf"); }
@font-face {
  font-family: DINROUNDPRO_NORMAL;
  src: url("../fonts/D-DIN.otf"); }
@font-face {
  font-family: PROXIMA;
  src: url("../fonts/ProximaNova-Regular.ttf"); }
/***** 	   02. Header css		 ****/
.compromisis-header {
  width: 100%;
  display: flex;
  align-items: center; }
  .compromisis-header .row {
    height: 80px;
    width: 100%; }
    .compromisis-header .row .logo-title {
      padding-left: 74px;
      display: flex;
      align-items: center; }
      .compromisis-header .row .logo-title .tital-heading {
        color: #31333B;
        font-size: 22px;
        font-family: 'DINROUNDPRO'; }
      .compromisis-header .row .logo-title .tital-subheading {
        font-size: 12px;
        font-weight: 600;
        line-height: 10px;
        margin-left: 15px;
        padding-left: 10px;
        border-left: 1px solid #888D96;
        color: #888D96;
        display: flex;
        align-items: center; }
    .compromisis-header .row .logo-content {
      text-align: right;
      justify-content: flex-end;
      display: flex;
      align-items: center; }
      .compromisis-header .row .logo-content .nav-links {
        height: 100%;
        margin: 0 20px; }
        .compromisis-header .row .logo-content .nav-links a {
          height: 100%;
          text-decoration: none;
          font-weight: 600;
          color: #888D96;
          display: flex;
          align-items: center; }
        .compromisis-header .row .logo-content .nav-links a:focus {
          color: #31333B;
          border-bottom: 3px solid #31333B; }
        .compromisis-header .row .logo-content .nav-links a:hover {
          color: #31333B;
          border-bottom: 3px solid #31333B; }
        .compromisis-header .row .logo-content .nav-links a.active {
          color: #31333B;
          border-bottom: 3px solid #31333B; }
      .compromisis-header .row .logo-content .my-report-btn, .compromisis-header .row .logo-content .my-session-btn {
        width: 125px;
        height: 42px;
        font-size: 16px;
        box-shadow: none;
        outline: 0;
        padding: 0;
        background: #2c84b4;
        color: #fff;
        font-weight: 600;
        font-family: 'PROXIMA'; }
      .compromisis-header .row .logo-content .my-session-btn {
        margin-left: 10px;
        color: #387eaf;
        background: #e8f6ff; }

/***** 	   03. Compromisos css		 ****/
.compromisos-section {
  padding: 40px 0 30px 0;
  background-color: #F7F8FC; }
  .compromisos-section .compromisos-container .header-text {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .compromisos-section .compromisos-container .header-text h5 {
      color: #19a5fc;
      margin-bottom: 10px;
      font-family: 'DINROUNDPRO'; }
    .compromisos-section .compromisos-container .header-text h4 {
      color: #000002;
      margin-bottom: 10px;
      font-family: 'DINROUNDPRO'; }
    .compromisos-section .compromisos-container .header-text p {
      color: #888D96;
      margin-bottom: 10px;
      font-family: 'PROXIMA'; }
    .compromisos-section .compromisos-container .header-text .filtering {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .compromisos-section .compromisos-container .header-text .filtering .heading {
        font-size: 14px;
        font-family: 'DINROUNDPRO'; }
      .compromisos-section .compromisos-container .header-text .filtering .styled-select {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        position: relative; }
      .compromisos-section .compromisos-container .header-text .filtering .styled-select,
      .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
        width: 308px;
        margin-left: 5px; }
      .compromisos-section .compromisos-container .header-text .filtering .styled-select select {
        height: 44px;
        margin: -1px;
        padding: 0 0 0 16px;
        background: #fff;
        border: none;
        -webkit-appearance: none;
        color: #31333B;
        font-family: 'DINROUNDPRO'; }
      .compromisos-section .compromisos-container .header-text .filtering .dropdown-icon {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 24px; }
  .compromisos-section .compromisos-container .compromisos-records {
    padding: 0; }
    .compromisos-section .compromisos-container .compromisos-records h6 {
      font-weight: 600;
      margin-bottom: 13px;
      color: #333439;
      font-family: 'PROXIMA'; }
  .compromisos-section .compromisos-container .profile-container {
    padding: 15px 10px 15px 15px;
    margin: 5px auto;
    box-shadow: 0px 0px 6px 0px #ccc;
    background-color: #fff;
    border-radius: 5px;
    display: flex; }
    .compromisos-section .compromisos-container .profile-container .description {
      width: 82%; }
      .compromisos-section .compromisos-container .profile-container .description .heading {
        display: flex;
        font-weight: bold;
        margin: 6px 0;
        font-size: 21px;
        color: #000002;
        font-family: 'PROXIMA'; }
        .compromisos-section .compromisos-container .profile-container .description .heading span {
          margin: 0 5px;
          font-size: 17px;
          line-height: 23px; }
      .compromisos-section .compromisos-container .profile-container .description .sub-heading {
        color: #37383c;
        font-weight: 600;
        font-size: 15px; }
        .compromisos-section .compromisos-container .profile-container .description .sub-heading .line {
          margin: 0 5px;
          color: #888D96;
          font-size: 12px;
          line-height: 23px; }
        .compromisos-section .compromisos-container .profile-container .description .sub-heading .meses-text {
          font-size: 15px;
          color: #888D96; }
      .compromisos-section .compromisos-container .profile-container .description .para {
        margin: 10px 0;
        font-size: 18px;
        width: 84%;
        color: #888D96; }
      .compromisos-section .compromisos-container .profile-container .description .details-btn {
        width: 158px;
        height: 50px;
        font-weight: 600;
        color: #37b3f9;
        background: #fdfdfd;
        border: 1px solid #efeff1;
        box-shadow: none; }
    .compromisos-section .compromisos-container .profile-container .progreso-content {
      width: 18%;
      background-color: #f7f8fc;
      border-radius: 5px;
      flex-direction: column;
      justify-content: space-evenly;
      display: flex;
      align-items: center; }
      .compromisos-section .compromisos-container .profile-container .progreso-content .heading {
        color: #888D96;
        font-family: 'PROXIMA'; }
      .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer canvas {
        width: 90px !important;
        height: 90px !important; }
      .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-2 canvas {
        width: 90px !important;
        height: 90px !important; }
      .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-3 canvas {
        width: 90px !important;
        height: 90px !important; }
      .compromisos-section .compromisos-container .profile-container .progreso-content #indicatorContainer-4 canvas {
        width: 90px !important;
        height: 90px !important; }
      .compromisos-section .compromisos-container .profile-container .progreso-content .complete-process {
        color: #34ca70;
        font-family: 'PROXIMA'; }
      .compromisos-section .compromisos-container .profile-container .progreso-content .required-process {
        color: #31333B;
        font-family: 'PROXIMA'; }
  .compromisos-section .compromisos-container .pagination {
    margin: 0;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center; }
    .compromisos-section .compromisos-container .pagination .page-link {
      padding: 0;
      width: 50px;
      height: 50px;
      margin-left: 7px;
      color: #31333B;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: none;
      outline: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      font-family: 'DINROUNDPRO'; }
    .compromisos-section .compromisos-container .pagination a:focus {
      background-color: #31333B;
      color: #fff; }
    .compromisos-section .compromisos-container .pagination a:hover {
      background-color: #31333B;
      color: #fff; }
    .compromisos-section .compromisos-container .pagination a.active {
      background-color: #31333B;
      color: #fff; }
    .compromisos-section .compromisos-container .pagination .next-btn {
      width: 120px; }

/***** 	   04. Footer Container	   ****/
.footer-container {
  height: 50px;
  background-color: #edeef3;
  display: flex;
  align-items: center; }
  .footer-container .section {
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px 0 75px; }
    .footer-container .section h6 {
      color: #888D96;
      font-weight: 600;
      font-size: 15px;
      font-family: 'PROXIMA'; }
    .footer-container .section a {
      font-weight: 600;
      text-decoration: none;
      color: #888D96;
      font-size: 15px; }

.footer-height {
  height: 14px;
  background: #F7F8FC; }

/* INDEX
----------------------------------------------------------------------------------------
01. General Css
02. Header Section Start


-------------------------------------------------------------------------------------- */
.user_heder {
  display: flex;
  align-items: center;
  width: 100%; }
  .user_heder .row {
    height: 80px; }
    .user_heder .row .logo_title {
      display: flex;
      align-items: center;
      margin: 0; }
      .user_heder .row .logo_title h4 {
        font-family: 'DINROUNDPRO';
        margin: 0;
        font-size: 24px; }
      .user_heder .row .logo_title .title_formate {
        color: #31333b;
        float: left; }
      .user_heder .row .logo_title .breadcum_formate {
        font-family: 'DINROUNDPRO_NORMAL';
        color: #888D9c;
        float: left;
        line-height: 10px;
        font-size: 12px;
        border-left: 1px solid #888D9c;
        margin: 0 0 0 10px;
        padding: 0 5px; }
    .user_heder .row .user_details {
      flex-direction: row-reverse;
      display: flex;
      align-items: center; }
      .user_heder .row .user_details .user_image {
        display: flex;
        align-items: center; }
        .user_heder .row .user_details .user_image .user {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: 10px;
          width: 35px;
          height: 35px;
          font-size: 14px;
          background-color: #19a7f9;
          color: #fff; }
        .user_heder .row .user_details .user_image button {
          font-family: 'PROXIMA';
          font-weight: 600;
          color: #31333B;
          background: #fff;
          border: 0;
          box-shadow: none;
          outline: 0;
          cursor: pointer; }

.header_background {
  width: 100%;
  background-color: #31333B; }
  .header_background ul,
  .header_background ol {
    margin-bottom: 0; }
  .header_background nav {
    height: 70px;
    display: flex;
    align-items: center; }
    .header_background nav ul li {
      padding: 0 14px;
      display: inline-block;
      line-height: 65px; }
      .header_background nav ul li a {
        color: #f7f8fc;
        font-size: 15px;
        font-family: 'DINROUNDPRO_NORMAL'; }
    .header_background nav ul li:hover {
      border-bottom: 4px solid #2D83B5; }
      .header_background nav ul li:hover a {
        color: #2D83B5;
        outline-style: none;
        text-decoration: none; }
    .header_background nav ul li.active {
      border-bottom: 4px solid #2D83B5; }
      .header_background nav ul li.active a {
        color: #2D83B5;
        outline-style: none;
        text-decoration: none; }

.report_section {
  background-color: #f7f8fc;
  padding: 30px 0; }
  .report_section .report_titel {
    padding: 5px 15px; }
    .report_section .report_titel h4 {
      font-size: 25px;
      font-weight: 550; }
  .report_section .report_btn {
    padding: 0 0 22px 0;
    display: flex;
    justify-content: flex-end; }
    .report_section .report_btn .btn, .report_section .report_btn .btn1 {
      width: 125px;
      height: 42px;
      font-size: 14px;
      box-shadow: none;
      outline: 0;
      padding: 0;
      font-weight: 600; }
    .report_section .report_btn .btn1 {
      margin-left: 10px; }
  .report_section .row {
    padding: 0; }
  .report_section .report_table {
    border: 1px solid rgba(204, 204, 204, 0.4);
    width: 100%;
    background-color: #fff; }
    .report_section .report_table .table {
      margin-bottom: 0;
      border-bottom: 1px solid #ddd; }
    .report_section .report_table .total_rpt_time_dat_pick {
      width: 100%; }
      .report_section .report_table .total_rpt_time_dat_pick .total-report {
        padding: 30px 0 0 0; }
        .report_section .report_table .total_rpt_time_dat_pick .total-report h4 {
          font-size: 18px;
          font-weight: 500; }
      .report_section .report_table .total_rpt_time_dat_pick .td_pick {
        display: flex;
        justify-content: flex-end;
        padding: 22px 0; }
        .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select {
          border: 1px solid #ccc;
          border-radius: 4px;
          overflow: hidden;
          position: relative; }
        .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select,
        .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select select {
          width: 180px;
          margin-left: 5px; }
        .report_section .report_table .total_rpt_time_dat_pick .td_pick .styled-select select {
          height: 44px;
          margin: -1px;
          padding: 0 0 0 16px;
          background: rgba(255, 255, 255, 0.7);
          border: none;
          -webkit-appearance: none;
          font-weight: 500;
          color: #31333B; }
        .report_section .report_table .total_rpt_time_dat_pick .td_pick .dropdown-icon {
          position: absolute;
          top: 8px;
          right: 16px;
          font-size: 22px; }
    .report_section .report_table .t_heding_formate {
      font-size: 10px;
      color: #cecfd3;
      padding-bottom: 24px; }
      .report_section .report_table .t_heding_formate i {
        font-size: 15px;
        padding-left: 3px;
        color: #cecfd3; }
    .report_section .report_table .person_img {
      padding-right: 5px; }
      .report_section .report_table .person_img img {
        height: 20px;
        width: 20px;
        border-radius: 50%; }
    .report_section .report_table table thead tr th {
      padding-bottom: 25px;
      font-size: 12px;
      color: #888d9c;
      vertical-align: unset;
      border: unset; }
    .report_section .report_table table tbody tr td {
      border-top: 1px solid #ddd;
      font-size: 13px;
      vertical-align: unset; }
    .report_section .report_table .ticket_style {
      font-weight: 600;
      color: #31333B;
      margin: 0;
      font-family: 'PROXIMA'; }
    .report_section .report_table .td_style {
      color: #888d9c;
      font-weight: 600;
      font-family: 'PROXIMA'; }
    .report_section .report_table .td_estatus_style {
      color: #46be77;
      font-weight: 600;
      font-family: 'PROXIMA'; }
    .report_section .report_table .td_opciones_style {
      font-weight: 600;
      min-width: 100px;
      font-family: 'PROXIMA';
      color: #37b3f9;
      cursor: pointer; }
    .report_section .report_table .check_padd {
      padding-right: 0;
      text-align: center; }
    .report_section .report_table label {
      padding: 0;
      margin: 0; }
    .report_section .report_table input[type=checkbox] + label {
      display: block;
      margin: 0.2em;
      cursor: pointer;
      padding: 0.2em; }
    .report_section .report_table input[type=checkbox] {
      display: none; }
    .report_section .report_table input[type=checkbox] + label:before {
      content: "\2714";
      border: 0.1em solid #ECEEF4;
      border-radius: 0.2em;
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      color: transparent;
      line-height: 20px;
      margin-top: -7px;
      transition: .2s; }
    .report_section .report_table input[type=checkbox] + label:active:before {
      transform: scale(0); }
    .report_section .report_table input[type=checkbox]:checked + label:before {
      color: #000;
      text-align: center; }
    .report_section .report_table input[type=checkbox]:disabled + label:before {
      transform: scale(1);
      border-color: #aaa; }
    .report_section .report_table input[type=checkbox]:checked:disabled + label:before {
      transform: scale(1);
      background-color: #bfb;
      border-color: #bfb; }
    .report_section .report_table .dropdown-toggle::after {
      display: none; }
  .report_section .notification .row {
    padding: 0 15px; }
    .report_section .notification .row .notification_titel {
      width: 100%;
      padding: 10px 15px 22px 0; }
      .report_section .notification .row .notification_titel h4 {
        font-size: 25px;
        font-family: 'DINROUNDPRO';
        color: #31333B; }
  .report_section .notification .recently_notification {
    padding: 15px 15px 15px 0; }
    .report_section .notification .recently_notification h6 {
      font-family: 'DINROUNDPRO_NORMAL';
      color: #31333B;
      font-weight: 600; }
  .report_section .notification .notification1 {
    background-color: #fff;
    padding: 20px 15px 25px 15px;
    margin: 5px 0;
    box-shadow: 0px 0px 6px 0px #ccc; }
    .report_section .notification .notification1 .notii_heading {
      font-size: 14px;
      font-family: 'PROXIMA'; }
      .report_section .notification .notification1 .notii_heading p {
        margin: 0;
        font-family: 'PROXIMA';
        color: #888D96; }
      .report_section .notification .notification1 .notii_heading .notifi_t_formate {
        font-family: 'PROXIMA';
        color: #31333b;
        font-weight: 600; }
      .report_section .notification .notification1 .notii_heading .resolver_fornate {
        font-family: 'PROXIMA';
        font-weight: 600;
        color: #37b3f9;
        font-size: 16px; }
    .report_section .notification .notification1 .resolver_btn {
      display: flex;
      justify-content: space-between;
      padding-top: 20px; }
      .report_section .notification .notification1 .resolver_btn span {
        font-family: 'PROXIMA';
        font-weight: 600; }
      .report_section .notification .notification1 .resolver_btn a {
        text-decoration: none;
        cursor: pointer;
        font-family: 'PROXIMA';
        font-weight: 600;
        color: #37b3f9; }
  .report_section .pagination {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center; }
    .report_section .pagination .page-link {
      padding: 0;
      width: 50px;
      height: 50px;
      margin-left: 7px;
      color: #31333B;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: none;
      outline: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      font-family: 'DINROUNDPRO'; }
    .report_section .pagination a:focus {
      background-color: #31333B;
      color: #fff; }
    .report_section .pagination a:hover {
      background-color: #31333B;
      color: #fff; }
    .report_section .pagination a.active {
      background-color: #31333B;
      color: #fff; }
    .report_section .pagination .next-btn {
      width: 120px; }

/*# sourceMappingURL=style.css.map */
