/* ---------------------------------------------------------------------------------------- */

// * Author        : Inteligentus
// * Template Name : Inteligentus
// * File          : Main CSS file
// * Version       : 3.0

/*---------------------------------------------------------------------------------------- */


/* INDEX
----------------------------------------------------------------------------------------
01. General css
02. Header css
03. Banner Topo css
-------------------------------------------------------------------------------------- */


/***** 	   01. General css		 ****/

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Helvetica;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: normal;
}

.header-container {
    width: 1280px;
    margin: 0 auto;
}

@font-face {
    font-family: DINROUNDPRO;
    src: url('../fonts/D-DINExp-Bold.otf');
}

@font-face {
    font-family: DINROUNDPRO_NORMAL;
    src: url('../fonts/D-DIN.otf');
}

@font-face {
    font-family: PROXIMA;
    src: url('../fonts/ProximaNova-Regular.ttf');
}

@mixin body-text {
    font-family: 'PROXIMA';
}

@mixin tital-text {
    font-family: 'DINROUNDPRO';
}

@mixin normal_tital-text {
    font-family: 'DINROUNDPRO_NORMAL';
}

@mixin all-flexible-content {
    display: flex;
    align-items: center;
}

$black_tuna: #31333B;
$moon_gray: #888D96;

/***** 	   02. Header css		 ****/

.compromisis-header {
    width: 100%;
    @include all-flexible-content;
    .row {
        height: 80px;
        width: 100%;
        .logo-title {
            padding-left: 74px;
            @include all-flexible-content;
            .tital-heading {
                color: $black_tuna;
                font-size: 22px;
                @include tital-text;
            }
            .tital-subheading {
                font-size: 12px;
                font-weight: 600;
                line-height: 10px;
                margin-left: 15px;
                padding-left: 10px;
                border-left: 1px solid $moon_gray;
                color: $moon_gray;
                @include all-flexible-content;
            }
        }
        .logo-content {
            text-align: right;
            justify-content: flex-end;
            @include all-flexible-content;
            .nav-links {
                height: 100%;
                margin: 0 20px;
                a {
                    height: 100%;
                    text-decoration: none;
                    font-weight: 600;
                    color: $moon_gray;
                    @include all-flexible-content;
                }
                a:focus {
                    color: $black_tuna;
                    border-bottom: 3px solid $black_tuna;
                }
                a:hover {
                    color: $black_tuna;
                    border-bottom: 3px solid $black_tuna;
                }
                a.active {
                    color: $black_tuna;
                    border-bottom: 3px solid $black_tuna;
                }
            }
            .my-report-btn {
                width: 125px;
                height: 42px;
                font-size: 16px;
                box-shadow: none;
                outline: 0;
                padding: 0;
                background: #2c84b4;
                color: #fff;
                font-weight: 600;
                @include body-text;
            }
            .my-session-btn {
                margin-left: 10px;
                color: #387eaf;
                background: #e8f6ff;
                @extend .my-report-btn;
            }
        }
    }
}


/***** 	   03. Compromisos css		 ****/

.compromisos-section {
    padding: 40px 0 30px 0;
    background-color: #F7F8FC;
    .compromisos-container {
        .header-text {
            @include all-flexible-content;
            flex-direction: column;
            h5 {
                color: #19a5fc;
                margin-bottom: 10px;
                @include tital-text;
            }
            h4 {
                color: #000002;
                margin-bottom: 10px;
                @include tital-text;
            }
            p {
                color: $moon_gray;
                margin-bottom: 10px;
                @include body-text;
            }
            .filtering {
                @include all-flexible-content;
                margin-bottom: 20px;
                .heading {
                    font-size: 14px;
                    @include tital-text;
                }
                .styled-select {
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    overflow: hidden;
                    position: relative;
                }
                .styled-select,
                .styled-select select {
                    width: 308px;
                    margin-left: 5px;
                }
                .styled-select select {
                    height: 44px;
                    margin: -1px;
                    padding: 0 0 0 16px;
                    background: #fff;
                    border: none;
                    -webkit-appearance: none;
                    color: $black_tuna;
                    @include tital-text;
                }
                .dropdown-icon {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                    font-size: 24px;
                }
            }
        }
        .compromisos-records {
            padding: 0;
            h6 {
                font-weight: 600;
                margin-bottom: 13px;
                color: #333439;
                @include body-text;
            }
        }
        .profile-container {
            padding: 15px 10px 15px 15px;
            margin: 5px auto;
            box-shadow: 0px 0px 6px 0px #ccc;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            .description {
                width: 82%;
                .heading {
                    display: flex;
                    font-weight: bold;
                    margin: 6px 0;
                    font-size: 21px;
                    color: #000002;
                    @include body-text;
                    span {
                        margin: 0 5px;
                        font-size: 17px;
                        line-height: 23px;
                    }
                }
                .sub-heading {
                    color: #37383c;
                    font-weight: 600;
                    font-size: 15px;
                    .line {
                        margin: 0 5px;
                        color: $moon_gray;
                        font-size: 12px;
                        line-height: 23px;
                    }
                    .meses-text {
                        font-size: 15px;
                        color: $moon_gray;
                    }
                }
                .para {
                    margin: 10px 0;
                    font-size: 18px;
                    width: 84%;
                    color: $moon_gray;
                }
                .details-btn {
                    width: 158px;
                    height: 50px;
                    font-weight: 600;
                    color: #37b3f9;
                    background: #fdfdfd;
                    border: 1px solid #efeff1;
                    box-shadow: none;
                }
            }
            .progreso-content {
                width: 18%;
                background-color: #f7f8fc;
                border-radius: 5px;
                flex-direction: column;
                justify-content: space-evenly;
                @include all-flexible-content;
                .heading {
                    color: $moon_gray;
                    @include body-text;
                }
                #indicatorContainer {
                    canvas {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                #indicatorContainer-2 {
                    canvas {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                #indicatorContainer-3 {
                    canvas {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                #indicatorContainer-4 {
                    canvas {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                .complete-process {
                    color: #34ca70;
                    @include body-text;
                }
                .required-process {
                    color: $black_tuna;
                    @include body-text;
                }
            }
        }
        .pagination {
            margin: 0;
            padding-top: 20px;
            justify-content: center;
            @include all-flexible-content;
            .page-link {
                padding: 0;
                width: 50px;
                height: 50px;
                margin-left: 7px;
                color: $black_tuna;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: none;
                outline: 0;
                justify-content: center;
                @include all-flexible-content;
                @include tital-text;
            }
            a:focus {
                background-color: $black_tuna;
                color: #fff;
            }
            a:hover {
                background-color: $black_tuna;
                color: #fff;
            }
            a.active {
                background-color: $black_tuna;
                color: #fff;
            }
            .next-btn {
                width: 120px;
            }
        }
    }
}


/***** 	   04. Footer Container	   ****/

.footer-container {
    height: 50px;
    background-color: #edeef3;
    @include all-flexible-content;
    .section {
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 20px 0 75px;
        h6 {
            color: $moon_gray;
            font-weight: 600;
            font-size: 15px;
            @include body-text;
        }
        a {
            font-weight: 600;
            text-decoration: none;
            color: $moon_gray;
            font-size: 15px;
        }
    }
}

.footer-height {
    height: 14px;
    background: #F7F8FC;
}

// bhautik
//  Author: INTELIGENTUS * 
//  Main CSS file 
//  Version: 1.0 * 

/* INDEX
----------------------------------------------------------------------------------------
01. General Css
02. Header Section Start


-------------------------------------------------------------------------------------- */

// Header Section Start
.user_heder {
    display: flex;
    align-items: center;
    width: 100%;
    .row {
        height: 80px;
        .logo_title {
            h4 {
                @include tital-text;
                margin: 0;
                font-size: 24px;
            }
            display: flex;
            align-items: center;
            margin: 0;
            .title_formate {
                color: #31333b;
                float: left;
            }
            .breadcum_formate {
                @include normal_tital-text;
                color: #888D9c;
                float: left;
                line-height: 10px;
                font-size: 12px;
                border-left: 1px solid #888D9c;
                margin: 0 0 0 10px;
                padding: 0 5px;
            }
        }
        .user_details {
            flex-direction: row-reverse;
            @include all-flexible-content;
            .user_image {
                @include all-flexible-content;
                .user {
                    @include all-flexible-content;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                    font-size: 14px;
                    background-color: #19a7f9;
                    color: #fff;
                }
                button {
                    @include body-text;
                    font-weight: 600;
                    color: $black_tuna;
                    background: #fff;
                    border: 0;
                    box-shadow: none;
                    outline: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

.header_background {
    width: 100%;
    background-color: #31333B;
    ul,
    ol {
        margin-bottom: 0;
    }
    nav {
        height: 70px;
        display: flex;
        align-items: center;
        ul {
            li {
                padding: 0 14px;
                display: inline-block;
                line-height: 65px;
                a {
                    color: #f7f8fc;
                    font-size: 15px;
                    @include normal_tital-text;
                }
            }
            li:hover {
                border-bottom: 4px solid #2D83B5;
                a {
                    color: #2D83B5;
                    outline-style: none;
                    text-decoration: none;
                }
            }
            li.active {
                border-bottom: 4px solid #2D83B5;
                a {
                    color: #2D83B5;
                    outline-style: none;
                    text-decoration: none;
                }
            }
        }
    }
}

// Header Section Ends
.report_section {
    background-color: #f7f8fc;
    padding: 30px 0;
    .report_titel {
        padding: 5px 15px;
        h4 {
            font-size: 25px;
            font-weight: 550;
        }
    }
    .report_btn {
        padding: 0 0 22px 0;
        display: flex;
        justify-content: flex-end;
        .btn {
            width: 125px;
            height: 42px;
            font-size: 14px;
            box-shadow: none;
            outline: 0;
            padding: 0;
            font-weight: 600;
        }
        .btn1 {
            @extend .btn;
            margin-left: 10px;
        }
    }
    .row {
        padding: 0;
        // width: 100%;
    }
    .report_table {
        border: 1px solid rgba(204, 204, 204, 0.4);
        .table {
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
        }
        .total_rpt_time_dat_pick {
            width: 100%;
            .total-report {
                padding: 30px 0 0 0;
                h4 {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .td_pick {
                display: flex;
                justify-content: flex-end;
                padding: 22px 0;
                .styled-select {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;
                }
                .styled-select,
                .styled-select select {
                    width: 180px;
                    margin-left: 5px;
                }
                .styled-select select {
                    height: 44px;
                    margin: -1px;
                    padding: 0 0 0 16px;
                    background: rgba(255, 255, 255, 0.7);
                    border: none;
                    -webkit-appearance: none;
                    font-weight: 500;
                    color: #31333B;
                }
                .dropdown-icon {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                    font-size: 22px;
                }
            }
        }
        .t_heding_formate {
            font-size: 10px;
            color: #cecfd3;
            padding-bottom: 24px;
            i {
                font-size: 15px;
                padding-left: 3px;
                color: #cecfd3;
            }
        }
        .person_img {
            padding-right: 5px;
            img {
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }
        }
        table thead tr th {
            padding-bottom: 25px;
            font-size: 12px;
            color: #888d9c;
            vertical-align: unset;
            border: unset;
        }
        table tbody tr td {
            border-top: 1px solid #ddd;
            // line-height: 2.7em;
            font-size: 13px;
            vertical-align: unset;
        }
        .ticket_style {
            font-weight: 600;
            color: $black_tuna;
            margin: 0;
            @include body-text;
        }
        .td_style {
            color: #888d9c;
            font-weight: 600;
            @include body-text;
        }
        .td_estatus_style {
            color: #46be77;
            font-weight: 600;
            @include body-text;
        }
        .td_opciones_style {
            font-weight: 600;
            min-width: 100px;
            @include body-text;
            color: #37b3f9;
            cursor: pointer;
        }
        .check_padd {
            padding-right: 0;
            text-align: center;
        }
        //  check box coding Start
        label {
            padding: 0;
            margin: 0;
        }
        input[type=checkbox]+label {
            display: block;
            margin: 0.2em;
            cursor: pointer;
            padding: 0.2em;
        }
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox]+label:before {
            content: "\2714";
            border: 0.1em solid #ECEEF4;
            border-radius: 0.2em;
            display: inline-block;
            height: 20px;
            width: 20px;
            vertical-align: middle;
            color: transparent;
            line-height: 20px;
            margin-top: -7px;
            transition: .2s;
        }
        input[type=checkbox]+label:active:before {
            transform: scale(0);
        }
        input[type=checkbox]:checked+label:before {
            color: #000;
            text-align: center;
        }
        input[type=checkbox]:disabled+label:before {
            transform: scale(1);
            border-color: #aaa;
        }
        input[type=checkbox]:checked:disabled+label:before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
        }
        .dropdown-toggle::after {
            display: none;
        }
        //  check box coding End
        width: 100%;
        background-color: #fff;
    }
    .notification {
        .row {
            padding: 0 15px;
            .notification_titel {
                width: 100%;
                padding: 10px 15px 22px 0;
                h4 {
                    font-size: 25px;
                    @include tital-text;
                    color: $black_tuna;
                }
            }
        }
        .recently_notification {
            padding: 15px 15px 15px 0;
            h6 {
                @include normal_tital-text;
                color: $black_tuna;
                font-weight: 600;
            }
        }
        .notification1 {
            background-color: #fff;
            padding: 20px 15px 25px 15px;
            margin: 5px 0;
            box-shadow: 0px 0px 6px 0px #ccc;
            .notii_heading {
                font-size: 14px;
                @include body-text;
                p {
                    margin: 0;
                    @include body-text;
                    color: $moon_gray;
                }
                .notifi_t_formate {
                    @include body-text;
                    color: #31333b;
                    font-weight: 600;
                }
                .resolver_fornate {
                    @include body-text;
                    font-weight: 600;
                    color: #37b3f9;
                    font-size: 16px;
                }
            }
            .resolver_btn {
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                span {
                    @include body-text;
                    font-weight: 600;
                }
                a {
                    text-decoration: none;
                    cursor: pointer;
                    @include body-text;
                    font-weight: 600;
                    color: #37b3f9;
                }
            }
        }
    }
    .pagination {
        margin: 0;
        padding: 10px 0;
        @include all-flexible-content;
        .page-link {
            padding: 0;
            width: 50px;
            height: 50px;
            margin-left: 7px;
            color: $black_tuna;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: none;
            outline: 0;
            justify-content: center;
            @include all-flexible-content;
            @include tital-text;
        }
        a:focus {
            background-color: $black_tuna;
            color: #fff;
        }
        a:hover {
            background-color: $black_tuna;
            color: #fff;
        }
        a.active {
            background-color: $black_tuna;
            color: #fff;
        }
        .next-btn {
            width: 120px;
        }
    }
}